@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --background-color: #e0e0e0;
  --text-color: #222222;
}

.dark-mode {
  --background-color: #1a1a2e;
  --text-color: #eaeaea;
}

.theme-red {
  --primary-color: #ff4444;
  --secondary-color: #ff8888;
}

.theme-blue {
  --primary-color: #4488ff;
  --secondary-color: #88aaff;
}

.theme-green {
  --primary-color: #4caf50;
  --secondary-color: #81c784;
}

.theme-purple {
  --primary-color: #aa44ff;
  --secondary-color: #dd88ff;
}

.theme-yellow {
  --primary-color: #ffc107;
  --secondary-color: #ffeb3b;
}

/* Applying the theme colors */
body {
  background-color: var(--background-color);
  color: var(--text-color);
}

button {
  background-color: var(--primary-color);
}

button:hover {
  background-color: var(--secondary-color);
}
